# Ejecutable principal
/ircserv

# Archivos objeto
*.o

# Archivos de dependencias
*.d

# macOS
.DS_Store

# Linux/Unix
*~

# Archivos temporales
*.swp
*.swo

# Archivos Visual Studio Code
.vscode/

to_do_list
